# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Git
.git
.gitignore

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Docs & Local
README.md
*.log
